volumes/nodered/data/flows.json
[{"id":"6695cf8d.0f222","type":"tab","label":"IoT_Server","disabled":false,"info":"First Step to adapt S7-node to logo-node\n\nLogoComfort side:\n\nTools-->Ethernet connections\nEnter:\n-LOGO IP adress\n-Subnet Mask\n-Default Gateway\n\nRight Click on Ethernet connections\nAdd Server connection --> S7 Connection\nDouble click on connection1\n\nTick Connect with an Operator Panel (OP)\nIt will change TSAP to 02.00\n\nTick Accept all connection requests (Or you know what you do)\n\nRemote Properties (Client) TSAP: 01.00\n\nRed Node Side:\nMenu (Upper Right)-->Import-->Clipboard\nPaste flow\nImport\n\nIn S7-LOGO8 Flow\nDouble click on LOGO8\nPLC properties (little pencil)\nChange for your Red Node IP adress\n\nDeploy\nNow you could already read all I/O of Logo\n"},{"id":"c89c999f.f58fe8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3003f9aa.e5dc06","type":"mqtt-broker","z":"","name":"","broker":"172.18.0.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6471f611.7d4a38","type":"ui_group","z":"","name":"Arduino Data","tab":"484a92bb.3987ec","disp":true,"width":"15","collapse":false},{"id":"a91e13fb.2f4eb","type":"ui_group","z":"","name":"Μηχανές","tab":"484a92bb.3987ec","disp":true,"width":"15","collapse":false},{"id":"8003349b.596c98","type":"ui_group","z":"","name":"Logo Sensors","tab":"484a92bb.3987ec","disp":true,"width":"25","collapse":false},{"id":"925ba776.facdc8","type":"ui_group","z":"","name":"Gauges","tab":"484a92bb.3987ec","disp":true,"width":"24","collapse":false},{"id":"2c35f47d.aea73c","type":"influxdb","z":"","hostname":"172.18.0.6","port":"8086","protocol":"http","database":"ArduinoSensors","name":"","usetls":false,"tls":""},{"id":"393f850f.69d2ea","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"LogoSensors","name":"","usetls":false,"tls":""},{"id":"484a92bb.3987ec","type":"ui_tab","z":"","name":"Sensor Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"396db93d.ae71d6","type":"influxdb","z":"","hostname":"http://172.18.0.1","port":"8086","protocol":"http","database":"sensor_data","name":"","usetls":false,"tls":""},{"id":"9ae9139a.1a6e6","type":"mqtt-broker","z":"","name":"rpi_mqtt","broker":"172.18.0.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc01a53c.2e8fc8","type":"s7 endpoint","z":"","address":"192.168.1.22","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"02","remotetsaplo":"00","connmode":"tsap","cycletime":"500","timeout":"1500","verbose":"default","name":"S7-LOGO8","vartable":[{"addr":"DB1,X1064.0","name":"Q01"},{"addr":"DB1,X1064.1","name":"Q02"},{"addr":"DB1,X1064.2","name":"Q03"},{"addr":"DB1,X1064.3","name":"Q04"},{"addr":"DB1,X1064.4","name":"Q05"},{"addr":"DB1,X1064.5","name":"Q06"},{"addr":"DB1,X1064.6","name":"Q07"},{"addr":"DB1,X1064.7","name":"Q08"},{"addr":"DB1,X1065.0","name":"Q09"},{"addr":"DB1,X1065.1","name":"Q10"},{"addr":"DB1,X1065.2","name":"Q11"},{"addr":"DB1,X1065.3","name":"Q12"},{"addr":"DB1,X1065.4","name":"Q13"},{"addr":"DB1,X1065.5","name":"Q14"},{"addr":"DB1,X1065.6","name":"Q15"},{"addr":"DB1,X1065.7","name":"Q16"},{"addr":"DB1,X1066.0","name":"Q17"},{"addr":"DB1,X1066.1","name":"Q18"},{"addr":"DB1,X1066.2","name":"Q19"},{"addr":"DB1,X1066.3","name":"Q20"},{"addr":"DB1,X1024.0","name":"I01 AI03"},{"addr":"DB1,X1024.1","name":"I02 AI04"},{"addr":"DB1,X1024.2","name":"I03 High Freq"},{"addr":"DB1,X1024.3","name":"I04 High Freq"},{"addr":"DB1,X1024.4","name":"I05 High Freq"},{"addr":"DB1,X1024.5","name":"I06 High Freq"},{"addr":"DB1,X1024.6","name":"I07 AI01"},{"addr":"DB1,X1024.7","name":"I08 AI02"},{"addr":"DB1,X1025.0","name":"I09"},{"addr":"DB1,X1025.1","name":"I10"},{"addr":"DB1,X1025.2","name":"I11"},{"addr":"DB1,X1025.3","name":"I12"},{"addr":"DB1,X1025.4","name":"I13"},{"addr":"DB1,X1025.5","name":"I14"},{"addr":"DB1,X1025.6","name":"I15"},{"addr":"DB1,X1025.7","name":"I16"},{"addr":"DB1,X1026.0","name":"I17"},{"addr":"DB1,X1026.1","name":"I18"},{"addr":"DB1,X1026.2","name":"I19"},{"addr":"DB1,X1026.3","name":"I20"},{"addr":"DB1,X1026.4","name":"I21"},{"addr":"DB1,X1026.5","name":"I22"},{"addr":"DB1,X1026.6","name":"I23"},{"addr":"DB1,X1026.7","name":"I24"},{"addr":"DB1,INT1032","name":"AI01"},{"addr":"DB1,INT1034","name":"AI02"},{"addr":"DB1,INT1036","name":"AI03"},{"addr":"DB1,INT1038","name":"AI04"},{"addr":"DB1,INT1040","name":"AI06"},{"addr":"DB1,INT1042","name":"AI07"},{"addr":"DB1,INT1044","name":"AI08"},{"addr":"DB1,INT1046","name":"AI09"},{"addr":"DB1,INT1072","name":"AQ01"},{"addr":"DB1,INT1074","name":"AQ02"},{"addr":"DB1,INT1076","name":"AQ03"},{"addr":"DB1,INT1078","name":"AQ04"},{"addr":"DB1,INT1080","name":"AQ05"},{"addr":"DB1,INT1082","name":"AQ06"},{"addr":"DB1,INT1084","name":"AQ07"},{"addr":"DB1,INT1086","name":"AQ08"},{"addr":"DB1,INT1088","name":"AQ09"},{"addr":"DB1,X1104.0","name":"M01"},{"addr":"DB1,X1104.1","name":"M02"},{"addr":"DB1,X1104.2","name":"M03"},{"addr":"DB1,X1104.3","name":"M04"},{"addr":"DB1,X1104.4","name":"M05"},{"addr":"DB1,X1104.5","name":"M06"},{"addr":"DB1,X1104.6","name":"M07"},{"addr":"DB1,X1104.7","name":"M08 Start"},{"addr":"DB1,X1105.0","name":"M09"},{"addr":"DB1,X1105.1","name":"M10"},{"addr":"DB1,X1105.2","name":"M11"},{"addr":"DB1,X1105.3","name":"M12"},{"addr":"DB1,X1105.4","name":"M13"},{"addr":"DB1,X1105.5","name":"M14"},{"addr":"DB1,X1105.6","name":"M15"},{"addr":"DB1,X1105.7","name":"M16"},{"addr":"DB1,X1105.0","name":"M17"},{"addr":"DB1,X1105.1","name":"M18"},{"addr":"DB1,X1105.2","name":"M19"},{"addr":"DB1,X1105.3","name":"M20"},{"addr":"DB1,X1105.4","name":"M21"},{"addr":"DB1,X1105.5","name":"M22"},{"addr":"DB1,X1105.6","name":"M23"},{"addr":"DB1,X1105.7","name":"M24"},{"addr":"DB1,X1106.0","name":"M25 LOGO Screen White"},{"addr":"DB1,X1106.1","name":"M26 TDE Screen White"},{"addr":"DB1,X1106.2","name":"M27 CharSet"},{"addr":"DB1,X1106.3","name":"M28 LOGO Screen Orange"},{"addr":"DB1,X1106.4","name":"M29 LOGO Screen Red"},{"addr":"DB1,X1106.5","name":"M30 TDE Screen Orange"},{"addr":"DB1,X1106.6","name":"M31 TDE Screen Red"},{"addr":"DB1,X1106.7","name":"M32"},{"addr":"DB1,X1106.0","name":"M33...64"},{"addr":"DB1,INT1118","name":"AM1"},{"addr":"DB1,INT1120","name":"AM2"},{"addr":"DB1,INT1122","name":"AM3"},{"addr":"DB1,INT1124","name":"AM4"},{"addr":"DB1,INT1126","name":"AM5...64"},{"addr":"DB1,X1246.0","name":"NI1"},{"addr":"DB1,X1246.1","name":"NI1..64"},{"addr":"DB1,X1390.0","name":"NQ1"},{"addr":"DB1,X1390.1","name":"NQ1..64"},{"addr":"DB1,INT1262","name":"NAI1"},{"addr":"DB1,INT1264","name":"NAI1...64"},{"addr":"DB1,INT1406","name":"NAQ1"},{"addr":"DB1,INT1408","name":"NAQ2...64"},{"addr":"DB1,X600.0","name":"Έλεγχος Q1"},{"addr":"DB1,X720.0","name":"Κατάσταση Q1 "},{"addr":"DB1,INT750","name":"Πέρασμα Τιμής"},{"addr":"DB1,X730.0","name":"Κατάσταση Q2"},{"addr":"DB1,X610.0","name":"Έλεγχος Q3"},{"addr":"DB1,X740.0","name":"Κατάσταση Q3"},{"addr":"DB1,X620.0","name":"Manual On Q2"},{"addr":"DB1,X630.0","name":"Manual Off Q2"},{"addr":"DB1,X760.0","name":"Είσοδος Χειροκίνητου Ελέγχου Q4"},{"addr":"DB1,X601.0","name":"Έλεγχος Q4"},{"addr":"DB1,X770.0","name":"Κατάσταση Q4"},{"addr":"DB1,X721.0","name":"Analog Threshold"},{"addr":"DB1,X780.0","name":"Έλεγχος Ρελέ Arduino"}]},{"id":"b602dd80.a5a2a","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4bbc2844.330f78","type":"ui_group","z":"","name":"LM35 Arduino","tab":"ffcb6230.83aef","order":2,"disp":true,"width":"10","collapse":false},{"id":"a43abab3.6428b8","type":"ui_group","z":"","name":"Logo Μηχανή 1","tab":"ffcb6230.83aef","order":7,"disp":true,"width":"7","collapse":false},{"id":"bfa560a0.87661","type":"ui_group","z":"","name":"Logo Μηχανή 2 ","tab":"ffcb6230.83aef","order":8,"disp":true,"width":"8","collapse":false},{"id":"82617334.7ae81","type":"ui_group","z":"","name":"Αναλογικά Αισθητήρια","tab":"ffcb6230.83aef","order":4,"disp":true,"width":"30","collapse":false},{"id":"3f81d605.4c34ca","type":"ui_group","z":"","name":"DH11 Arduino","tab":"ffcb6230.83aef","order":1,"disp":true,"width":"10","collapse":false},{"id":"ee3fcca7.d02f","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ArduinoSensors","name":"","usetls":false,"tls":""},{"id":"d5183609.777058","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"LogoSensors","name":"","usetls":false,"tls":""},{"id":"47b010f9.e83fd","type":"ui_group","z":"","name":"LM35 Logo","tab":"ffcb6230.83aef","order":3,"disp":true,"width":"10","collapse":false},{"id":"2f22737b.e5171c","type":"ui_group","z":"","name":"Ρελέ Logo 2","tab":"ffcb6230.83aef","order":6,"disp":true,"width":"7","collapse":false},{"id":"3bb802a7.18f2be","type":"ui_group","z":"","name":"Ρελέ Logo 1","tab":"ffcb6230.83aef","order":5,"disp":true,"width":"8","collapse":false},{"id":"f7cd55c6.b68f58","type":"ui_group","z":"","name":"Arduino Ρελέ 1 ","tab":"ffcb6230.83aef","order":9,"disp":true,"width":"10","collapse":false},{"id":"4eadf906.62e2c8","type":"ui_group","z":"","name":"Arduino Ρελέ 2 ","tab":"ffcb6230.83aef","order":11,"disp":true,"width":"10","collapse":false},{"id":"1dc3314a.29bf1f","type":"ui_group","z":"","name":"LM35 Arduino","tab":"e6642215.cb697","order":1,"disp":true,"width":"11","collapse":false},{"id":"829071a4.7a904","type":"ui_group","z":"","name":"Logo LM35","tab":"e6642215.cb697","order":7,"disp":true,"width":"8","collapse":false},{"id":"fcc188c7.284db8","type":"ui_group","z":"","name":"Potentiometer Arduino","tab":"e6642215.cb697","order":5,"disp":true,"width":"8","collapse":false},{"id":"81835a34.c78bc8","type":"ui_group","z":"","name":"Humidity Arduino","tab":"e6642215.cb697","order":4,"disp":true,"width":"8","collapse":false},{"id":"7eda540f.dd55ec","type":"ui_group","z":"","name":"Distance Arduino","tab":"e6642215.cb697","order":6,"disp":true,"width":"8","collapse":false},{"id":"a39b06b9.e15358","type":"ui_group","z":"","name":"LDR Arduino","tab":"e6642215.cb697","order":2,"disp":true,"width":"11","collapse":false},{"id":"f4fd7c53.83835","type":"ui_group","z":"","name":"DH11 Arduino","tab":"e6642215.cb697","order":3,"disp":true,"width":"10","collapse":false},{"id":"1377d089.0f8bff","type":"ui_group","z":"","name":"Alarm LED","tab":"ffcb6230.83aef","order":10,"disp":true,"width":"10","collapse":false},{"id":"ffcb6230.83aef","type":"ui_tab","z":"","name":"Sensor Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"e6642215.cb697","type":"ui_tab","z":"","name":"InfluxDB","icon":"dashboard","disabled":false,"hidden":false},{"id":"f2c71799.4294a8","type":"influxdb","z":"","hostname":"172.18.0.4","port":"8086","protocol":"http","database":"ArduinoSensors","name":"","usetls":false,"tls":""},{"id":"aa4000b4.b0cb1","type":"s7 endpoint","z":"","address":"192.168.1.22","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"02","remotetsaplo":"00","connmode":"tsap","cycletime":"500","timeout":"1500","verbose":"default","name":"S7-LOGO8","vartable":[{"addr":"DB1,X1064.0","name":"Q01"},{"addr":"DB1,X1064.1","name":"Q02"},{"addr":"DB1,X1064.2","name":"Q03"},{"addr":"DB1,X1064.3","name":"Q04"},{"addr":"DB1,X1064.4","name":"Q05"},{"addr":"DB1,X1064.5","name":"Q06"},{"addr":"DB1,X1064.6","name":"Q07"},{"addr":"DB1,X1064.7","name":"Q08"},{"addr":"DB1,X1065.0","name":"Q09"},{"addr":"DB1,X1065.1","name":"Q10"},{"addr":"DB1,X1065.2","name":"Q11"},{"addr":"DB1,X1065.3","name":"Q12"},{"addr":"DB1,X1065.4","name":"Q13"},{"addr":"DB1,X1065.5","name":"Q14"},{"addr":"DB1,X1065.6","name":"Q15"},{"addr":"DB1,X1065.7","name":"Q16"},{"addr":"DB1,X1066.0","name":"Q17"},{"addr":"DB1,X1066.1","name":"Q18"},{"addr":"DB1,X1066.2","name":"Q19"},{"addr":"DB1,X1066.3","name":"Q20"},{"addr":"DB1,X1024.0","name":"I01 AI03"},{"addr":"DB1,X1024.1","name":"I02 AI04"},{"addr":"DB1,X1024.2","name":"I03 High Freq"},{"addr":"DB1,X1024.3","name":"I04 High Freq"},{"addr":"DB1,X1024.4","name":"I05 High Freq"},{"addr":"DB1,X1024.5","name":"I06 High Freq"},{"addr":"DB1,X1024.6","name":"I07 AI01"},{"addr":"DB1,X1024.7","name":"I08 AI02"},{"addr":"DB1,X1025.0","name":"I09"},{"addr":"DB1,X1025.1","name":"I10"},{"addr":"DB1,X1025.2","name":"I11"},{"addr":"DB1,X1025.3","name":"I12"},{"addr":"DB1,X1025.4","name":"I13"},{"addr":"DB1,X1025.5","name":"I14"},{"addr":"DB1,X1025.6","name":"I15"},{"addr":"DB1,X1025.7","name":"I16"},{"addr":"DB1,X1026.0","name":"I17"},{"addr":"DB1,X1026.1","name":"I18"},{"addr":"DB1,X1026.2","name":"I19"},{"addr":"DB1,X1026.3","name":"I20"},{"addr":"DB1,X1026.4","name":"I21"},{"addr":"DB1,X1026.5","name":"I22"},{"addr":"DB1,X1026.6","name":"I23"},{"addr":"DB1,X1026.7","name":"I24"},{"addr":"DB1,INT1032","name":"AI01"},{"addr":"DB1,INT1034","name":"AI02"},{"addr":"DB1,INT1036","name":"AI03"},{"addr":"DB1,INT1038","name":"AI04"},{"addr":"DB1,INT1040","name":"AI06"},{"addr":"DB1,INT1042","name":"AI07"},{"addr":"DB1,INT1044","name":"AI08"},{"addr":"DB1,INT1046","name":"AI09"},{"addr":"DB1,INT1072","name":"AQ01"},{"addr":"DB1,INT1074","name":"AQ02"},{"addr":"DB1,INT1076","name":"AQ03"},{"addr":"DB1,INT1078","name":"AQ04"},{"addr":"DB1,INT1080","name":"AQ05"},{"addr":"DB1,INT1082","name":"AQ06"},{"addr":"DB1,INT1084","name":"AQ07"},{"addr":"DB1,INT1086","name":"AQ08"},{"addr":"DB1,INT1088","name":"AQ09"},{"addr":"DB1,X1104.0","name":"M01"},{"addr":"DB1,X1104.1","name":"M02"},{"addr":"DB1,X1104.2","name":"M03"},{"addr":"DB1,X1104.3","name":"M04"},{"addr":"DB1,X1104.4","name":"M05"},{"addr":"DB1,X1104.5","name":"M06"},{"addr":"DB1,X1104.6","name":"M07"},{"addr":"DB1,X1104.7","name":"M08 Start"},{"addr":"DB1,X1105.0","name":"M09"},{"addr":"DB1,X1105.1","name":"M10"},{"addr":"DB1,X1105.2","name":"M11"},{"addr":"DB1,X1105.3","name":"M12"},{"addr":"DB1,X1105.4","name":"M13"},{"addr":"DB1,X1105.5","name":"M14"},{"addr":"DB1,X1105.6","name":"M15"},{"addr":"DB1,X1105.7","name":"M16"},{"addr":"DB1,X1105.0","name":"M17"},{"addr":"DB1,X1105.1","name":"M18"},{"addr":"DB1,X1105.2","name":"M19"},{"addr":"DB1,X1105.3","name":"M20"},{"addr":"DB1,X1105.4","name":"M21"},{"addr":"DB1,X1105.5","name":"M22"},{"addr":"DB1,X1105.6","name":"M23"},{"addr":"DB1,X1105.7","name":"M24"},{"addr":"DB1,X1106.0","name":"M25 LOGO Screen White"},{"addr":"DB1,X1106.1","name":"M26 TDE Screen White"},{"addr":"DB1,X1106.2","name":"M27 CharSet"},{"addr":"DB1,X1106.3","name":"M28 LOGO Screen Orange"},{"addr":"DB1,X1106.4","name":"M29 LOGO Screen Red"},{"addr":"DB1,X1106.5","name":"M30 TDE Screen Orange"},{"addr":"DB1,X1106.6","name":"M31 TDE Screen Red"},{"addr":"DB1,X1106.7","name":"M32"},{"addr":"DB1,X1106.0","name":"M33...64"},{"addr":"DB1,INT1118","name":"AM1"},{"addr":"DB1,INT1120","name":"AM2"},{"addr":"DB1,INT1122","name":"AM3"},{"addr":"DB1,INT1124","name":"AM4"},{"addr":"DB1,INT1126","name":"AM5...64"},{"addr":"DB1,X1246.0","name":"NI1"},{"addr":"DB1,X1246.1","name":"NI1..64"},{"addr":"DB1,X1390.0","name":"NQ1"},{"addr":"DB1,X1390.1","name":"NQ1..64"},{"addr":"DB1,INT1262","name":"NAI1"},{"addr":"DB1,INT1264","name":"NAI1...64"},{"addr":"DB1,INT1406","name":"NAQ1"},{"addr":"DB1,INT1408","name":"NAQ2...64"},{"addr":"DB1,X600.0","name":"Έλεγχος Q1"},{"addr":"DB1,X720.0","name":"Κατάσταση Q1 "},{"addr":"DB1,INT750","name":"Πέρασμα Τιμής"},{"addr":"DB1,X730.0","name":"Κατάσταση Q2"},{"addr":"DB1,X610.0","name":"Έλεγχος Q3"},{"addr":"DB1,X740.0","name":"Κατάσταση Q3"},{"addr":"DB1,X620.0","name":"Manual On Q2"},{"addr":"DB1,X630.0","name":"Manual Off Q2"},{"addr":"DB1,X760.0","name":"Είσοδος Χειροκίνητου Ελέγχου Q4"},{"addr":"DB1,X601.0","name":"Έλεγχος Q4"},{"addr":"DB1,X770.0","name":"Κατάσταση Q4"},{"addr":"DB1,X721.0","name":"Analog Threshold"},{"addr":"DB1,X780.0","name":"Έλεγχος Ρελέ Arduino"}]},{"id":"4c482901.eeb8c8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96e172e2.3b6f1","type":"ui_group","z":"","name":"LM35 Arduino","tab":"390dda50.ec7cb6","order":2,"disp":true,"width":"10","collapse":false},{"id":"98779486.24cc88","type":"ui_group","z":"","name":"Logo Μηχανή 1","tab":"390dda50.ec7cb6","order":7,"disp":true,"width":"7","collapse":false},{"id":"c9ff9b8f.08f568","type":"ui_group","z":"","name":"Logo Μηχανή 2 ","tab":"390dda50.ec7cb6","order":8,"disp":true,"width":"8","collapse":false},{"id":"fe42335f.95e71","type":"ui_group","z":"","name":"Αναλογικά Αισθητήρια","tab":"390dda50.ec7cb6","order":4,"disp":true,"width":"30","collapse":false},{"id":"8919977d.bf2ef8","type":"ui_group","z":"","name":"DH11 Arduino","tab":"390dda50.ec7cb6","order":1,"disp":true,"width":"10","collapse":false},{"id":"b77b6f9.4cdae9","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ArduinoSensors","name":"","usetls":false,"tls":""},{"id":"2605f749.b129f8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"LogoSensors","name":"","usetls":false,"tls":""},{"id":"8bce574d.ec3238","type":"ui_group","z":"","name":"Status and Control","tab":"390dda50.ec7cb6","order":3,"disp":true,"width":"10","collapse":false},{"id":"360f5b38.534c84","type":"ui_group","z":"","name":"Ρελέ Logo 2","tab":"390dda50.ec7cb6","order":6,"disp":true,"width":"7","collapse":false},{"id":"621571c0.4630e","type":"ui_group","z":"","name":"Ρελέ Logo 1","tab":"390dda50.ec7cb6","order":5,"disp":true,"width":"8","collapse":false},{"id":"db1dc71e.347138","type":"ui_group","z":"","name":"Arduino Ρελέ 1 ","tab":"390dda50.ec7cb6","order":9,"disp":true,"width":"10","collapse":false},{"id":"f638f29e.69f82","type":"ui_group","z":"","name":"Arduino Ρελέ 2 ","tab":"390dda50.ec7cb6","order":11,"disp":true,"width":"10","collapse":false},{"id":"fa16a9ae.6cfe58","type":"ui_group","z":"","name":"LM35 Arduino","tab":"b5f2caf5.a16bf8","order":1,"disp":true,"width":"11","collapse":false},{"id":"29af1c4b.d8d384","type":"ui_group","z":"","name":"Logo LM35","tab":"b5f2caf5.a16bf8","order":7,"disp":true,"width":"8","collapse":false},{"id":"9b2c3891.909d08","type":"ui_group","z":"","name":"Potentiometer Arduino","tab":"b5f2caf5.a16bf8","order":5,"disp":true,"width":"8","collapse":false},{"id":"b69e7008.837cf","type":"ui_group","z":"","name":"Humidity Arduino","tab":"b5f2caf5.a16bf8","order":4,"disp":true,"width":"8","collapse":false},{"id":"2304e21e.4a73fe","type":"ui_group","z":"","name":"Distance Arduino","tab":"b5f2caf5.a16bf8","order":6,"disp":true,"width":"8","collapse":false},{"id":"21be0169.27f56e","type":"ui_group","z":"","name":"LDR Arduino","tab":"b5f2caf5.a16bf8","order":2,"disp":true,"width":"11","collapse":false},{"id":"e74bcfcb.fb1","type":"ui_group","z":"","name":"DH11 Arduino","tab":"b5f2caf5.a16bf8","order":3,"disp":true,"width":"10","collapse":false},{"id":"f654d861.4c9628","type":"ui_group","z":"","name":"Alarm LED","tab":"390dda50.ec7cb6","order":10,"disp":true,"width":"10","collapse":false},{"id":"390dda50.ec7cb6","type":"ui_tab","z":"","name":"Sensor Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5f2caf5.a16bf8","type":"ui_tab","z":"","name":"InfluxDB","icon":"dashboard","disabled":false,"hidden":false},{"id":"23096364.fc358c","type":"mqtt in","z":"6695cf8d.0f222","name":"Temp_Arduino_LM35","topic":"Temperature","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":140,"y":120,"wires":[["3163eb94.af6c94","549304d4.00773c","b79339e5.fc8108","be84ebce.651348"]]},{"id":"3163eb94.af6c94","type":"ui_chart","z":"6695cf8d.0f222","name":"","group":"96e172e2.3b6f1","order":1,"width":"10","height":"4","label":"Εσωτερική Θερμοκρασία","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":60,"wires":[[]]},{"id":"3697321b.ee37ae","type":"mqtt in","z":"6695cf8d.0f222","name":"Light Sensor","topic":"Light","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":110,"y":340,"wires":[["e86cc263.8ce85","7cf816e5.a49ec8","867dd95c.db0508"]]},{"id":"e86cc263.8ce85","type":"ui_gauge","z":"6695cf8d.0f222","name":"","group":"fe42335f.95e71","order":1,"width":"8","height":"5","gtype":"gage","title":"Φωτεινότητα","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":400,"wires":[]},{"id":"549304d4.00773c","type":"change","z":"6695cf8d.0f222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":20,"wires":[[]]},{"id":"677584cd.bfbb1c","type":"mqtt in","z":"6695cf8d.0f222","name":"Potentiometer","topic":"Potentiometer","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":830,"y":340,"wires":[["995c3e41.242c3","1bc4a3a2.440d6c"]]},{"id":"a3d94920.dbc858","type":"mqtt in","z":"6695cf8d.0f222","name":"Distance","topic":"Distance","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":820,"y":100,"wires":[["fcb2f222.10573","94d1c7e8.45b0a8"]]},{"id":"a0ad2ac8.625d88","type":"mqtt in","z":"6695cf8d.0f222","name":"Temperatude_DH11","topic":"DHTemp","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":130,"y":240,"wires":[["1fc4953f.4f098b","39c1896e.6f9376","f98fb96e.09d378"]]},{"id":"19af8c36.9e2d04","type":"mqtt in","z":"6695cf8d.0f222","name":"Humidity","topic":"Humidity","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":820,"y":200,"wires":[["f27094e9.de8918","63f4819e.653ea"]]},{"id":"995c3e41.242c3","type":"ui_gauge","z":"6695cf8d.0f222","name":"","group":"fe42335f.95e71","order":1,"width":"7","height":"5","gtype":"gage","title":"Ποτενσιόμετρο","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":340,"wires":[]},{"id":"1fc4953f.4f098b","type":"ui_chart","z":"6695cf8d.0f222","name":"","group":"8919977d.bf2ef8","order":1,"width":"10","height":"4","label":"Εξωτερική Θερμοκρασία","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":200,"wires":[[]]},{"id":"f27094e9.de8918","type":"ui_gauge","z":"6695cf8d.0f222","name":"Υγρασία","group":"fe42335f.95e71","order":1,"width":"8","height":"5","gtype":"gage","title":"Υγρασία","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50a00","#1bcb96","#02c0ff"],"seg1":"","seg2":"","x":1040,"y":180,"wires":[]},{"id":"fcb2f222.10573","type":"ui_gauge","z":"6695cf8d.0f222","name":"","group":"fe42335f.95e71","order":1,"width":"7","height":"5","gtype":"gage","title":"Χωρητικότητα","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":80,"wires":[]},{"id":"b79339e5.fc8108","type":"influxdb out","z":"6695cf8d.0f222","influxdb":"2c35f47d.aea73c","name":"","measurement":"LM35","precision":"","retentionPolicy":"","x":500,"y":100,"wires":[]},{"id":"7cf816e5.a49ec8","type":"influxdb out","z":"6695cf8d.0f222","influxdb":"2c35f47d.aea73c","name":"","measurement":"Light","precision":"","retentionPolicy":"","x":430,"y":440,"wires":[]},{"id":"1bc4a3a2.440d6c","type":"influxdb out","z":"6695cf8d.0f222","influxdb":"2c35f47d.aea73c","name":"","measurement":"Potentiometer","precision":"","retentionPolicy":"","x":1160,"y":380,"wires":[]},{"id":"94d1c7e8.45b0a8","type":"influxdb out","z":"6695cf8d.0f222","influxdb":"2c35f47d.aea73c","name":"","measurement":"Capacity","precision":"","retentionPolicy":"","x":1140,"y":120,"wires":[]},{"id":"39c1896e.6f9376","type":"influxdb out","z":"6695cf8d.0f222","influxdb":"2c35f47d.aea73c","name":"","measurement":"DH11","precision":"","retentionPolicy":"","x":490,"y":240,"wires":[]},{"id":"63f4819e.653ea","type":"influxdb out","z":"6695cf8d.0f222","influxdb":"2c35f47d.aea73c","name":"","measurement":"Humidity","precision":"","retentionPolicy":"","x":1140,"y":220,"wires":[]},{"id":"be84ebce.651348","type":"ui_gauge","z":"6695cf8d.0f222","name":"Temperature LM35 Arduino","group":"96e172e2.3b6f1","order":1,"width":"10","height":"4","gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":140,"wires":[]},{"id":"f98fb96e.09d378","type":"ui_gauge","z":"6695cf8d.0f222","name":"Temperature DH11","group":"8919977d.bf2ef8","order":2,"width":"10","height":"4","gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":280,"wires":[]},{"id":"db78f637.badba8","type":"mqtt out","z":"6695cf8d.0f222","name":"Control Ρελέ 2","topic":"relay2","qos":"","retain":"true","broker":"9ae9139a.1a6e6","x":1040,"y":740,"wires":[]},{"id":"35023719.874ac8","type":"mqtt in","z":"6695cf8d.0f222","name":"Arduino Ρελέ 1","topic":"relayvalue1","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":120,"y":560,"wires":[["6224bb19.b9d6a4"]]},{"id":"84e0dda8.08139","type":"mqtt in","z":"6695cf8d.0f222","name":"Arduino Ρελέ 2","topic":"relayvalue2","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":120,"y":620,"wires":[["ea41aeb7.5bf8"]]},{"id":"fef7d020.5755a","type":"ui_switch","z":"6695cf8d.0f222","name":"","label":"Ρελέ 1","tooltip":"","group":"8bce574d.ec3238","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":810,"y":580,"wires":[["35d1c7fb.1c73c8"]]},{"id":"867dd95c.db0508","type":"function","z":"6695cf8d.0f222","name":"","func":"if( msg.payload>= 50){\n    msg.payload=false;\n}\nelse\n    msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[[]]},{"id":"6224bb19.b9d6a4","type":"ui_led","z":"6695cf8d.0f222","group":"8bce574d.ec3238","order":1,"width":0,"height":0,"label":"Arduino Ρελέ 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"False","valueType":"str"},{"color":"green","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Ρελέ 1 Arduino","x":340,"y":560,"wires":[]},{"id":"ea41aeb7.5bf8","type":"ui_led","z":"6695cf8d.0f222","group":"8bce574d.ec3238","order":1,"width":0,"height":0,"label":"Arduino Ρελέ 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"False","valueType":"str"},{"color":"green","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Ρελέ 2 Arduino","x":340,"y":620,"wires":[]},{"id":"dd8e46a9.72ae98","type":"ui_led","z":"6695cf8d.0f222","group":"8bce574d.ec3238","order":1,"width":0,"height":0,"label":"Board Button Value","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"LOW","valueType":"str"},{"color":"green","value":"HIGH","valueType":"str"},{"color":"red","value":"","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":310,"y":720,"wires":[]},{"id":"35d1c7fb.1c73c8","type":"mqtt out","z":"6695cf8d.0f222","name":"Control Ρελέ 1","topic":"relay1","qos":"","retain":"true","broker":"9ae9139a.1a6e6","x":1040,"y":620,"wires":[]},{"id":"f77d37a9.167548","type":"ui_switch","z":"6695cf8d.0f222","name":"","label":"Ρελέ 2","tooltip":"","group":"8bce574d.ec3238","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":810,"y":780,"wires":[["db78f637.badba8"]]},{"id":"95d74603.566658","type":"mqtt in","z":"6695cf8d.0f222","name":"Κουμπί Arduino","topic":"buttonState","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":120,"y":680,"wires":[["dd8e46a9.72ae98","7e668edd.2f64c"]]},{"id":"c1ede80d.136e08","type":"ui_button","z":"6695cf8d.0f222","name":"","group":"8bce574d.ec3238","order":0,"width":0,"height":0,"passthru":true,"label":"Panic Button","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"buttonState","x":850,"y":680,"wires":[["db78f637.badba8","35d1c7fb.1c73c8"]]},{"id":"7e668edd.2f64c","type":"change","z":"6695cf8d.0f222","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HIGH","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"LOW","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":680,"wires":[["db78f637.badba8","35d1c7fb.1c73c8"]]},{"id":"b73ff186.d3ede","type":"mqtt in","z":"6695cf8d.0f222","name":"Light Sensor","topic":"Light","qos":"2","datatype":"auto","broker":"9ae9139a.1a6e6","x":110,"y":500,"wires":[["52f040c8.1eea5"]]},{"id":"52f040c8.1eea5","type":"function","z":"6695cf8d.0f222","name":"","func":"if( msg.payload<= 50){\n    msg.payload=1;\n}\nif( msg.payload > 50)\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["98ee12ff.220cc"]]},{"id":"98ee12ff.220cc","type":"ui_led","z":"6695cf8d.0f222","group":"8bce574d.ec3238","order":1,"width":"10","height":"2","label":"Light","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"num"}],"allowColorForValueInMessage":true,"name":"Light Sensor","x":470,"y":500,"wires":[]}]